doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Cakes
        a(href="/") Return to the homepage
        form(action='/update-cobj', method='POST')
            | Name: 
            input(type='text', name='Name', value='')
            |   Type: 
            input(type='text', name='Type', value='')
            |          Size: 
            input(type='text', name='Size', value='')
            input(type='submit', value='Submit')
